.App {
  text-align: center;
  background-color:rgba(249, 249, 55, 0.4);
}

.leaflet-container {
  height: 200px;
  width: 300px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

.navbar {
  /* position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 200px;
  max-width: 50%;
  text-align: center;
  padding: 15px;
  flex-direction: column;
  z-index: 10; */
  height: 50px;
  display: flex;
  background-color: rgba(127, 255, 212, 0.5);
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 5px 5px gray;
}

.navbar a {
  margin: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
}

.footer {
  height: 50px;
  display: flex;
  background-color: rgba(127, 255, 212, 0.5);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -3px 5px gray;
}

.container-with-sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: absolute;
  top: 70px;
  left: 20px;
  visibility:hidden;
}

.logout-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
}
.logout-button:hover{
  background-color: black;
}

/* HOME */

.home-container {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home-container img {
  width: 250px;
}
.home-container a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.7em;
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  box-shadow: 0px 0px 5px gray;
}
.home-container a:hover {
  background-color: rgb(255, 204, 0);
}

.spinner-container {
  width: 100px;
  margin: 20px auto;
}

/* SIGN UP and LOGIN*/
.signup-form-container,
.login-form-container {
  border: 1px solid #FC0;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(127, 255, 212, 0.3);
  background-image: url("./assets/logo-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:color-dodge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px gray;
}
.signup-form-container h1,
.login-form-container h1 {
  margin-top: 0px;
  text-shadow: #FC0 1px 0 2px;
}
.signup-form-input,
.login-form-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-shadow: #FC0 1px 0 2px;
  
}
.signup-button,
.login-button {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}
.signup-button:hover,
.login-button:hover {
  background-color: rgb(255, 204, 0);
}

/* MAIN */

.main-container-general {
  margin: 30px auto 0;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-container {
  margin-top: 50px;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 260px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}
.weather-price-container {
  display: flex;
  flex-direction: column;
}
.sidebar-container a {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px gray;
}
.sidebar-container a:hover {
  background-color: rgb(255, 204, 0);
}


/* LISTS */

.allTodoLists {
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allTodoLists-header {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allTodoLists-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.eachTodoList-link {
  text-decoration: none;
}

.singleTodoList {
  width: 280px;
  border: 2px solid lightgray;
  margin: 20px;
  border-radius: 10px;
}

.list-details-single-todo {
  width: 200px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* EXPENSES */

.expense-details-container {
  width: 350px;
  padding: 20px;
  margin: 10px auto;
  border: 2px solid lightgray;
  border-radius: 20px;
}

.allExpenses {
  width: 350px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}
.allExpenses a {
  text-decoration: none;
}
.add-expense-link a,
.add-expense-link-each a {
  color: white;
}
.add-expense-link a{
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}
.add-expense-link a:hover{
  background-color: lightgray;
}
.allExpenses-header {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allExpenses-container {
  width: 300px;
}
.allExpenses-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.eachExpense-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.eachExpense-link:hover {
  background-color: lightgray;
}
.eachExpense-link h3,
.eachExpense-link p {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* SEARCH LOCATION */
.eachLocation {
  cursor: pointer;
}
.eachLocation:hover {
  background-color: lightgray;
}
.eachLocation-container {
  width: 350px;
  margin: 10px auto;
}


/* PROFILE */

.profile-container {
  width: 300px;
  height: 330px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid lightgray;
  padding: 20px;
}
.profile-image-container {
  margin-top: 50px;
  width: 150px;
  height: 190px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.profile-info-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-info-container-username {
  display: flex;
  align-items: center;
  gap: 3px;
}
.profile-info-container-username button {
  height: 25px;
  cursor: pointer;
}
.focus-word {
  color: black;
  text-shadow: #757575 1px 0 1px;
}
.lazy-word {
  color: rgba(190, 255, 61, 0.8);
  text-shadow: #757575 1px 0 1px;
}
.excited-word {
  color: rgb(209, 0, 0);
  text-shadow: #757575 1px 0 1px;
}
.melancholic-word {
 color: rgba(0, 213, 255, 0.8);
 text-shadow: #757575 1px 0 1px;
}

/* THEMES */

.darkTheme {
  .navbar,
  .footer,
  .sidebar-container,
  .allExpenses {
    background-color: black;
    color: white;
  }
  .sidebar-container a,
  .add-expense-link a{
    background-color: white;
    box-shadow: none;
    color: black;
  }
  .sidebar-container a:hover,
  .add-expense-link a:hover{
    background-color: lightgray;
  }
  .navbar a {
    color: white;
  }
  .logout-button:hover,
  .navbar a:hover{
    background-color: gray;
  }
}
.App.darkTheme{
  background-color:white;
}
.grayTheme {
  .navbar,
  .footer,
  .sidebar-container,
  .allExpenses {
    background-color: rgba(190, 255, 61, 0.8);
    color: black;
  }
  .navbar a {
    color: black;
  }
  .logout-button:hover{
    background-color: rgba(190, 255, 61, 0.8);
    color: black;
  }
  .add-expense-link-each a {
    color: black;
  }
  .add-expense-link-each a:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .navbar a:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-expense-link a {
    color: black;
  }
  .add-expense-link a:hover{
    background-color: rgba(190, 255, 61, 0.8);
  }
  
}
.redTheme {
  .navbar,
  .footer,
  .sidebar-container,
  .allExpenses {
    background-color: rgb(209, 0, 0);
    color: rgba(255, 204, 0, 0.5);
  }
  .navbar,
  .footer,
  .allExpenses{
    text-shadow: 0px 0px 1px white;
  }
  .sidebar-container a {
    box-shadow: 0px 0px 5px black;
  }
  .navbar a,
  .add-expense-link a {
    color: rgba(255, 204, 0, 0.5);
  }
  .logout-button:hover,
  .navbar a:hover{ 
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-expense-link-each a:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-expense-link a:hover{
    background-color: rgba(255, 204, 0, 0.8);
  }
  
}
.App.redTheme{
  background-color:rgba(255, 204, 0, 0.7);
}
.blueTheme {
  .navbar,
  .footer,
  .sidebar-container,
  .allExpenses {
    background-color:rgba(0, 213, 255, 0.8);
    color: white;
  }
  .sidebar-container a {
    background-color:white;
  }
  .sidebar-container a:hover {
    background-color:rgba(0, 213, 255, 0.8);
  }
  .navbar a {
    color: white;
  }
  .logout-button:hover,
  .navbar a:hover,
  .add-expense-link-each a:hover { 
    background-color: white;
    color: rgba(0, 213, 255, 0.8);
  }
  .add-expense-link a{
    background-color: white;
    color: rgba(0, 213, 255, 0.8);
  }
  .add-expense-link a:hover{
    background-color: rgba(0, 213, 255, 0.8);
    color: white;
  }
}
.App.blueTheme{
  background-color:rgba(0, 213, 255, 0.1);
}

.theme-button-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.theme-button {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 9px 14px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
}
.focus-button {
  background-color: black;
  color: white;
}
.focus-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.lazy-button {
  background-color: rgba(190, 255, 61, 0.8);
  color: black;
}
.lazy-button:hover {
  background-color: rgba(190, 255, 61, 0.5);
}
.excited-button {
  background-color: rgb(209, 0, 0);
  color: white;
}
.excited-button:hover {
  background-color: rgba(209, 0, 0, 0.5);
}
.melancholic-button {
  background-color:rgba(0, 213, 255, 0.8);
  color: white;
}
.melancholic-button:hover {
  background-color:rgba(0, 213, 255, 0.5);
}

@media (min-width: 870px) {
  .navbar {
    flex-direction: row;
  }

  .home-container img {
    width: 200px;
  }

  .allTodoLists {
    width: 1000px;
  }
  .allTodoLists-container {
    flex-direction: row;
  }

  .profile-container {
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: 200px;
  }
  
  .profile-info-container {
    align-items: flex-start;
  }

  .main-container-general {
    flex-direction: row;
  }

  .sidebar {
    visibility:visible;
  }

  .sidebar-container {
    width: 100px;
    height: 280px;
  }


}