.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar {
  /* position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 200px;
  max-width: 50%;
  text-align: center;
  padding: 15px;
  flex-direction: column;
  z-index: 10; */
  height: 50px;
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.footer {
  height: 50px;
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  align-items: center;
}




@media (min-width: 870px) {
  .navbar {
    flex-direction: row;
  }
  

}