.App {
  text-align: center;
  background-color:rgba(249, 249, 55, 0.4);
  /* Create effect to show a delay on the changing backgrounds */
  transition-property: all;
  transition-duration: 2s;
  
}

/* ANIMATIONS */
.upload-element-animated {
  /* The next property will grab the keyframe named "upload-element". The animation will last 500ms with an ease-in effect and it will only start after 500ms of page loading. */
  animation: upload-element 500ms ease-in 500ms;
  /* The next property will make sure that the animation result will be definite on the element (opacity: 1), because by default it has opacity: 0 */
  animation-fill-mode: forwards;

}
@keyframes upload-element {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/* MAP */

.leaflet-container {
  height: 200px;
  width: 300px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  
}
a {
  text-decoration: none;
}
a:visited {
  color:black;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: 0px 0px 5px gray;
}

.navbar {
  height: 50px;
  display: flex;
  background-color: rgba(127, 255, 212, 0.5);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px gray;
}
.open-nav-button {
  display: block;
}
.open-nav {
  position: fixed;
  height: 80vh;
  right: 0;
  top: 0;
  width: 200px;
  max-width: 70%;
  text-align: center;
  padding: 15px;
  flex-direction: column;
  /* Note the high z-index so it shows over any other element: */
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px gray;
  
}

.navbar a,
.open-nav a,
.open-nav-button {
  margin: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
}

.navbar a.link-active{
  background-color:rgba(249, 249, 55, 0.4);
  box-shadow: 0px 0px 5px gray;
}
.navbar a.link-active:hover {
  background-color:rgba(249, 249, 55, 0.8);
}
.navbar a.link-inactive {
  background-color:rgba(249, 249, 55, 0.4);
}
.navbar a.link-inactive:hover {
  background-color:rgba(249, 249, 55, 0.8);
}

.footer {
  height: 50px;
  display: flex;
  background-color: rgba(127, 255, 212, 0.5);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -3px 5px gray;
}

.container-with-sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: absolute;
  top: 70px;
  left: 20px;
  visibility: hidden;
  transition: top 0.5s ease-out;
}

.logout-button,
.logout-button-mobile {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
}
.logout-button {
  display: none;
}
.logout-button-mobile {
  visibility: visible;
}
.logout-button:hover{
  background-color: black;
}

.show-game-container,
.show-music-container {
  display: none;
}
.show-music-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.show-game,
.show-music {
  width: 660px;
  height: 830px;
}
.show-game-warning,
.show-music-warning {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 65px;
}

.weather-component,
.crypto-component,
.timer-component {
  display: none;
}

.signup-error-message {
  width: 250px;
  margin: 2px auto;
  font-size: 0.8em;
}

/* WEATHER */
.weather-container {
  width: 100px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0px 0px 10px gray;
  position: relative;
}
.weather-info {
  display: flex;
  gap: 5px;
  
}
.weather-info p {
  margin: 0;
}
.weather-emoji {
  font-size: 4em;
  margin: 0;
}

/* CRYPTO PRICES */

.crypto-prices-container {
  width: 150px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items:flex-start;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 10px gray;
  position: relative;
}
.crypto-prices-container p{
  margin: 5px;
}
.crypto-prices-container span {
  font-size: 1.4em;
}

/* HOME */

.home-container {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.home-container img {
  width: 250px;
}
.home-container a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.7em;
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  box-shadow: 0px 0px 5px gray;
}
.home-container a:hover {
  background-color: rgb(255, 204, 0);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SIGN UP and LOGIN*/

.signup-form-container,
.login-form-container {
  border: 1px solid #FC0;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(127, 255, 212, 0.3);
  background-image: url("./assets/logo-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:color-dodge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px gray;
  
}
.signup-form-container h1,
.login-form-container h1 {
  margin-top: 0px;
  text-shadow: #FC0 1px 0 2px;
}
.signup-form-input,
.login-form-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-shadow: #FC0 1px 0 2px;
}
.signup-button,
.login-button {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}
.signup-button:hover,
.login-button:hover {
  background-color: rgb(255, 204, 0);
}


/* MAIN */

.main-container-general {
  margin: 30px auto 0;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}
.main-container {
  margin-top: 50px;
}



/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 260px;
  height: 150px;
  padding: 15px;
  box-shadow: 0px 0px 10px gray;
  position: relative;
}
.weather-price-container {
  display: none;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}
.sidebar-crypto-container {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
}
.sidebar-container a,
.open-nav button,
.open-nav a {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px gray;
}
.open-nav button {
  width: 50px;
}
.open-nav button.logout-button-mobile {
  width: 120px;
  color: white;
}
.sidebar-container a:hover {
  background-color: rgb(255, 204, 0);
}


/* LISTS */

.allTodoLists {
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allTodoLists-header {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allTodoLists-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.eachTodoList {
  text-decoration: none;
  color: black;
}
.eachTodoList:visited {
  color: black;
}

.singleTodoList {
  width: 280px;
  border: 2px solid lightgray;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}
.list-details,
.add-new-list-container {
  width: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}
.add-new-list-container {
  padding: 0 0 20px;
}
.list-details-button-link{
  text-decoration: none;
}

.add-list-link {
  color: black;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  text-decoration: none;
  box-shadow: 0px 0px 10px gray;
}
.add-list-link:visited,
.allTodoLists a:visit {
  color: black;
}
.list-details-all-todos {
  margin-top: 10px;
  margin-bottom: 20px;
}
.list-details-button,
.add-new-list-button {
  color: black;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 0px 0px 5px gray;
  margin-right: 5px;
}
.list-details-single-todo {
  font-size: 1.2em;
  display: flex;
  width: 250px;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
}

.list-details-single-todo label {
  word-wrap: break-word;
}
.edit-list-details-name-buttons {
  margin-top: 5px;
}
.list-details-button-red {
  background-color: red;
  opacity: 0.8;
  color: white;
}
.list-details-button-red:hover {
  opacity: 0.3;
}
.new-todo-container,
.edit-name-todo-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.list-details-button-back-container {
  margin-top: 10px;
}
.list-details-button-back-container a{
  color: black;
}
.list-details-button-normal {
  opacity: 1;
}
.add-new-list-button-container {
  margin-top: 20px;
}


/* EXPENSES */

.allExpenses,
.expense-details-container,
.expenses-form {
  width: 350px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
}
.allExpenses a {
  text-decoration: none;
}
.add-expense-link a,
.add-expense-link-each a {
  color: white;
}
.add-expense-link a{
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}
.add-expense-link a:hover{
  background-color: lightgray;
}
.allExpenses-header {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allExpenses-container {
  width: 300px;
}
.allExpenses-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.eachExpense-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
}
.eachExpense-link:hover {
  background-color: lightgray;
}
.eachExpense-link h3,
.eachExpense-link p {
  margin-top: 2px;
  margin-bottom: 2px;
}
.allExpenses-delete-button,
.allExpenses-delete-button-yes,
.allExpenses-delete-button-no,
.expense-details-container-buttons button,
.expenses-form-button {
  color: black;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.1em;
  opacity: 0.5;
  border: none;
  box-shadow: 0px 0px 5px gray;
}
.expenses-form-button {
  margin-right: 10px;
}
.allExpenses-delete-button:hover,
.allExpenses-delete-button-yes:hover {
  background-color: red;
  opacity: 1;
  color: white;
}
.allExpenses-delete-button-yes {
  margin-right: 5px;
}
.allExpenses-delete-button-no:hover {
  background-color: greenyellow;
  opacity: 1;
}
.expense-details-container-header,
.expenses-form-each-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.expense-details-container-header {
  flex-direction: column;
}
.expense-details-container-header div {
  display: flex;
}
.expense-details-container-header h1,
.expense-details-container-header h3 {
  margin: 7px;
}
.expense-details-container-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.expense-details-container-buttons button {
  padding: 5px 10px;
}
.expense-details-container-buttons-delete:hover {
  background-color: red;
  opacity: 1;
  color: white;
}
.expense-details-container-buttons-edit:hover {
  background-color: greenyellow;
  opacity: 1;
}
.expense-details-container-buttons-back a,
.expenses-form-button a{
  color: black;
}
.expenses-form {
  width: 300px;
}
.expenses-form-each-input {
  width: 250px;
  margin: 5px;
}

/* SEARCH LOCATION */
.eachLocation {
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 3px;
}
.eachLocation:hover {
  background-color: lightgray;
}
.eachLocation-container {
  width: 320px;
  margin: 10px auto;
}


/* PROFILE */

.profile-container {
  width: 300px;
  height: 350px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid lightgray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.profile-info-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 20px;
}
.profile-info-container-username {
  display: flex;
  align-items: center;
  gap: 3px;
  
}
.profile-container h3,
.profile-container h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-info-container-username button {
  height: 25px;
  cursor: pointer;
  text-align: center;
}
.update-pic-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin: 3px auto;
}
.update-pic-button,
.update-pic-input,
.update-username-button {
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.1em;
  opacity: 0.5;
  border: none;
  box-shadow: 0px 0px 5px gray;
}
.update-pic-input {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  opacity: 1;
  width: 170px;
  margin: 2px auto;
}
.update-pic-button-cancel {
  font-size: 1em;
  margin: 2px;
}
.update-username-buttons-container {
  width: 200px;
  margin: 4px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.update-username-buttons-container button{
  display: flex;
  align-items: center;
}


/* TIMER */

.timer-container {
  width: 150px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 10px gray;
}
.timer-container h1 {
  margin: 5px;
}
.timer-container-inputs {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.timer-container-inputs input {
  width: 50px;
  height: 30px;
  font-size: 1.4em;
}
.timer-container-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.timer-container-button {
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.1em;
  opacity: 0.5;
  border: none;
  box-shadow: 0px 0px 5px gray;
}
.timer-container-button:hover {
  opacity: 1;
  background-color: rgba(190, 255, 61, 0.8);
}
.timer-container-button-reset:hover {
  opacity: 1;
  background-color: rgb(209, 0, 0);
}



/* THEMES */

.darkTheme {
  .navbar,
  .open-nav,
  .footer,
  .sidebar-container,
  .allExpenses,
  .expense-details-container,
  .expenses-form,
  .open-nav-button,
  .open-nav a,
  .open-nav button,
  .open-nav button.logout-button-mobile,
  .add-list-link,
  .singleTodoList,
  .list-details-button-normal,
  .add-new-list-container,
  .profile-container,
  .weather-container,
  .crypto-prices-container,
  .timer-container {
    background-color: black;
    color: white;
  }
  
  .sidebar-container a,
  .add-expense-link a,
  .add-list-link:hover,
  .singleTodoList:hover,
  .list-details-button-back:hover {
    background-color: white;
    box-shadow: none;
    color: black;
  }
  .navbar a.link-active {
    background-color: white;
    color: black;
    opacity: 0.8;
  }
  
  .sidebar-container a:hover,
  .add-expense-link a:hover,
  .eachLocation,
  .add-list-link:hover,
  .singleTodoList:hover,
  .list-details-single-todo:hover,
  .list-details-button-normal:hover {
    background-color: lightgray;
  }
  .eachLocation:hover,
  .add-list-link a:hover,
  .list-details-button-cancel:hover,
  .navbar a.link-inactive  {
    background-color: black;
    color: white;
  }
  .expenses-form-button:hover,
  .expense-details-container-buttons-back:hover,
  .update-pic-button:hover,
  .update-username-button:hover,
  .add-new-list-button:hover {
    background-color: white;
    opacity: 1;
  }
  .navbar a,
  .open-nav a,
  .open-nav-button  {
    color: white;
  }
  .logout-button:hover,
  .navbar a:hover {
    background-color: gray;
  }
}
.App.darkTheme{
  background-color:white;
}
.greenTheme {
  .navbar,
  .footer,
  .sidebar-container,
  .allExpenses,
  .expense-details-container,
  .expenses-form,
  .open-nav-button,
  .open-nav a,
  .open-nav button,
  .open-nav button.logout-button-mobile,
  .singleTodoList,
  .add-new-list-container,
  .profile-container,
  .weather-container,
  .crypto-prices-container,
  .timer-container   {
    background-color: rgba(190, 255, 61, 0.8);
    color: black;
  }
  .open-nav {
    background-color: rgb(190, 255, 61);
  }
  .navbar a,
  .open-nav a {
    color: black;
  }
  .logout-button {
    background-color:rgba(249, 249, 55, 0.4);
    color: black;
  }
  
  .logout-button:hover{
    background-color:rgba(249, 249, 55, 0.8);
    color: black;
  }
  .add-expense-link-each a {
    color: black;
  }
  .add-expense-link-each a:hover,
  .eachLocation,
  .add-new-list-button:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .navbar a:hover,
  .singleTodoList:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-list-link {
    background-color: rgb(255, 204, 0)
  }
  .add-expense-link a {
    color: black;
  }
  .add-expense-link a:hover,
  .eachLocation:hover,
  .expenses-form-button:hover,
  .add-list-link:hover,
  .list-details-button-normal,
  .update-pic-button:hover,
  .update-username-button:hover,
  .list-details-button-back:hover {
    background-color: rgba(190, 255, 61, 0.8);
    opacity: 1;
  }

  .expense-details-container-buttons-back:hover,
  .expenses-form-button-back:hover,
  .list-details-single-todo:hover,
  .list-details-button-cancel:hover,
  .list-details-button-normal:hover {
    background-color: white;
    opacity: 0.7;
  }
  
}
.redTheme {
  .navbar,
  .open-nav,
  .footer,
  .sidebar-container,
  .allExpenses,
  .expense-details-container,
  .expenses-form,
  .open-nav-button,
  .open-nav button,
  .open-nav button.logout-button-mobile,
  .eachLocation,
  .singleTodoList,
  .add-list-link,
  .list-details-single-todo:hover,
  .add-new-list-container,
  .profile-container,
  .crypto-prices-container,
  .timer-container  {
    background-color: rgb(209, 0, 0);
    color: rgba(255, 204, 0, 0.5);
  }
  .weather-container, 
  .navbar a.link-inactive,
  .logout-button{
    background-color: rgb(209, 0, 0);
  }
  .weather-info p {
    color: rgba(255, 204, 0, 0.5);
  }
  .logout-button{
    color: rgba(255, 204, 0, 0.8);
  }
  .navbar,
  .open-nav,
  .footer,
  .allExpenses,
  .expense-details-container,
  .expenses-form{
    text-shadow: 0px 0px 1px white;
  }
  .sidebar-container a {
    box-shadow: 0px 0px 5px black;
  }
  .navbar a,
  .add-expense-link a {
    color: rgba(255, 204, 0, 0.5);
  }
  .eachLocation {
    color: white;
  }
  .logout-button:hover,
  .navbar a:hover,
  .eachLocation:hover,
  .expenses-form-button:hover,
  .list-details-button-normal,
  .add-new-list-button:hover,
  .list-details-button-back:hover { 
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-expense-link-each a:hover {
    background-color: rgba(255, 204, 0, 0.5);
  }
  .add-expense-link a:hover {
    background-color: rgba(255, 204, 0, 0.8);
  }
  .open-nav-button {
    color:rgba(255, 204, 0, 0.8);
  }
  .singleTodoList:hover,
  .add-list-link:hover,
  .timer-container-button-reset:hover { 
    background-color: rgba(255, 204, 0, 0.5);
    color: rgb(209, 0, 0);
  }
  .expense-details-container-buttons-back:hover,
  .expenses-form-button-back:hover,
  .list-details-button-normal:hover,
  .list-details-button-cancel:hover,
  .update-pic-button:hover,
  .update-username-button:hover{
    background-color: white;
    opacity: 0.8;
  }
  
}
.App.redTheme{
  background-color:rgba(255, 204, 0, 0.7);
}
.blueTheme {
  .navbar,
  .open-nav,
  .footer,
  .sidebar-container,
  .allExpenses,
  .expense-details-container,
  .expenses-form,
  .open-nav-button,
  .open-nav a,
  .open-nav button,
  .open-nav button.logout-button-mobile ,
  .singleTodoList,
  .add-list-link,
  .list-details-button-normal,
  .add-new-list-container,
  .profile-container,
  .weather-container,
  .crypto-prices-container,
  .timer-container,
  .navbar a.link-inactive,
  .logout-button {
    background-color:rgba(0, 213, 255, 0.8);
    color: white;
  }
  .open-nav {
    background-color:rgb(0, 213, 255);
  }
  .sidebar-container a,
  .eachLocation,
  .add-new-list-button:hover {
    background-color:white;
  }
  .sidebar-container a:hover,
  .eachLocation:hover {
    background-color:rgba(0, 213, 255, 0.8);
  }
  .navbar a,
  .open-nav a {
    color: white;
  }
  .logout-button:hover,
  .navbar a:hover,
  .add-expense-link-each a:hover,
  .expenses-form-button:hover,
  .singleTodoList:hover,
  .add-list-link:hover,
  .list-details-button-normal:hover, 
  .list-details-button-cancel:hover,
  .update-pic-button:hover,
  .update-username-button:hover,
  .list-details-button-back:hover { 
    background-color: white;
    opacity: 1;
    color: rgba(0, 213, 255, 0.8);
  }
  .add-expense-link a{
    background-color: white;
    color: rgba(0, 213, 255, 0.8);
  }
  .add-expense-link a:hover,
  .expense-details-container-buttons-back:hover,
  .expenses-form-button-back:hover{
    background-color: rgba(0, 213, 255, 0.8);
    color: white;
  }
  
}
.App.blueTheme{
  background-color:rgba(0, 213, 255, 0.1);
}

.theme-button-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.theme-button {
  background-color: rgba(255, 204, 0, 0.5);
  border: none;
  padding: 9px 14px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px;
}
.focus-button {
  background-color: black;
  color: white;
}
.focus-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.lazy-button {
  background-color: rgba(190, 255, 61, 0.8);
  color: black;
}
.lazy-button:hover {
  background-color: rgba(190, 255, 61, 0.5);
}
.excited-button {
  background-color: rgb(209, 0, 0);
  color: white;
}
.excited-button:hover {
  background-color: rgba(209, 0, 0, 0.5);
}
.melancholic-button {
  background-color:rgba(0, 213, 255, 0.8);
  color: white;
}
.melancholic-button:hover {
  background-color:rgba(0, 213, 255, 0.5);
}

#focus-word {
  color: black;
  text-shadow: #757575 1px 0 1px;
}
#lazy-word {
  color: rgba(190, 255, 61, 0.8);
  text-shadow: #757575 1px 0 1px;
}
#excited-word {
  color: rgb(209, 0, 0);
  text-shadow: #757575 1px 0 1px;
}
#melancholic-word {
 color: rgba(0, 213, 255, 0.8);
 text-shadow: #757575 1px 0 1px;
}

@media (min-width: 870px) {
  .navbar {
    flex-direction: row;
  }

  .home-container img {
    width: 200px;
  }

  .allTodoLists {
    width: 850px;
  }
  .allTodoLists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profile-container {
    flex-direction: row;
    justify-content: space-around;
    width: 450px;
    height: 250px;
  }
  
  .profile-info-container {
    margin: 0;
  }
  .profile-container h3,
  .profile-container h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

  .main-container-general {
    flex-direction: row;
  }

  .sidebar {
    visibility:visible;
  }

  .sidebar-container {
    width: 100px;
    height: 280px;
  }

  .show-game-warning,
  .show-music-warning {
    visibility: hidden;
  }
  .show-game-container,
  .show-music-container {
    display: block;
  }
  .open-nav-button {
    display: none;
  }
  
  .logout-button {
    display: block;
  }

  .weather-component,
  .crypto-component,
  .timer-component {
    display: block;
}
.weather-price-container {
  display: flex;
}
.sidebar-crypto-container {
  height: 500px;
}
.main-container img {
  width: 170px;
}


}